@font-face {
  font-family: Futura;
  src: url("https://cdn.jsdelivr.net/npm/futura-font@1.0.0/FuturaBT-Medium.woff");
}

#project-name {
  font-size: 55px;
  font-family: Futura;
  color: #4285f4;
  margin-top: 2em;
  margin-bottom: 1em;
  text-align: center;
}
#form-container {
  display: flex;
  justify-content: center;
}
