@font-face {
  font-family: 'Lato', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Cormorant', serif;
  font-family: 'Arima Madurai', cursive;
  font-family: 'Ovo', serif;
  font-family: 'Cinzel Decorative', cursive;
  src: url("https://fonts.googleapis.com/css?family=Arima+Madurai:700|Cinzel+Decorative|Cormorant:600|Lato|Ovo|Quicksand:300");
}

.container {
  background-color: #353535;
}

#project-name {
  font-size: 55px;
  font-family: 'Cinzel Decorative';
  color: #353535;
  margin-bottom: 1em;
  text-align: center;
}
#form-container {
  display: flex;
  justify-content: center;
  font-size: 2.5em;
  font-family: 'Quicksand';
}
.form-group {
  margin-bottom: 2em;
}
#pref-list {
  font-size: 1rem;
}
.far, .fas {
  cursor: pointer;
}
