{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/index.css" />
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
  crossorigin="anonymous"
/>
{% endblock %}

{% block body %}
<h1 id="project-name">
  Omakase <br />
  おまかせ
</h1>
<div id="form-container">
  <form class="d-flex flex-column col-lg-8" method="POST" action="/search">
    <div class="form-group">
      <label for="restaurant-name">Which restaurant are you trying today?</label>
      <input type="text"
             name="restaurant-name"
             class="form-control"
             placeholder="e.g. {{ restaurant_suggestion }}"
             required>
    </div>
    <div class="form-group">
      <label for="menu-item-name">
        Add dishes you've liked/disliked:
      </label>
      <div class="input-group">
        <input type="text"
              name="menu-item-restaurant-name"
              class="form-control"
              placeholder="e.g. {{ restaurant_suggestion }}">
        <div class="input-group-prepend input-group-append">
          <div class="input-group-text">'s&nbsp;&nbsp;</div>
        </div>
        <input type="text"
              name="menu-item-name"
              class="form-control"
              placeholder="e.g. {{ menu_item_suggestion }}">
        <button id="add-menu-item-btn" type="button" class="btn btn-info input-group-addon">
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>
    <div class="form-group">
      <div id="pref-list" class="card p-3">
      {% raw %}
        <h3 class="mb-3">Preference List</h3>
        <h6 class="text-center" v-if="preferences.length === 0">
          Currently empty :( Try adding to this list with the input above!
        </h6>
        <table class="table">
          <tbody>
            <tr v-for="(pref, index) in preferences">
              <td>{{ pref["restaurant"] }}</td>
              <td>{{ pref["menuItem"] }}</td>
              <td>${{ pref["price"].toFixed(2) }}</td>
              <td><i class="fa-thumbs-up"
                     v-bind:class="{ fas: preferences[index]['like'], far: !preferences[index]['like'] }"
                     v-on:click="handleThumbsUp(index)">
              </i></td>
              <td><i class="fa-thumbs-down"
                     v-bind:class="{ fas: preferences[index]['dislike'], far: !preferences[index]['dislike'] }"
                     v-on:click="handleThumbsDown(index)">
              </i></td>
              <td><i class="fas fa-trash-alt"
                     v-on:click="handleDelete(index)">
              </i></td>
            </tr>
          </tbody>
        </table>
      {% endraw %}
      </div>
    </div>
    <div class="form-group align-self-center">
      <button id="submit-btn" type="button" class="btn btn-success">
        Get Recommendations!
      </button>
    </div>
  </form>
</div>
{% endblock %}

{% block js %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  $("input[name='restaurant-name']").autocomplete({
    source: function(req, res) {
      $.ajax({
        timeout: 5000,
        url: "/autocomplete",
        data: { term: req.term },
        dataType: "json",
        success: res,
        error: function() {
          res([]);
        }
      });
    }
  });

  $("input[name='menu-item-restaurant-name']").autocomplete({
    source: function(req, res) {
      $.ajax({
        timeout: 5000,
        url: "/autocomplete",
        data: { term: req.term },
        dataType: "json",
        success: res,
        error: function() {
          res([]);
        }
      });
    }
  });

  $("input[name='menu-item-name']").autocomplete({
    source: function(req, res) {
      const restaurantName = $("input[name='menu-item-restaurant-name']").val();

      $.ajax({
        timeout: 5000,
        url: "/api/menu-item/autocomplete",
        data: { query: req.term, restaurant: restaurantName },
        dataType: "json",
        success: res,
        error: function() {
          res([]);
        }
      });
    }
  });

  $("input[name='restaurant-name']").on("input", function() {
    const restaurant = $(this).val();
    localStorage.setItem("restaurant", restaurant);
  })

  // load from localstorage if anything was saved
  const restaurant = localStorage.getItem("restaurant");
  const prefList = localStorage.getItem("prefList");

  if (restaurant !== null) {
    $("input[name='restaurant-name']").val(restaurant);
  }

  const prefListApp = new Vue({
    el: "#pref-list",
    data: {
      preferences: prefList === null ? [] : JSON.parse(prefList),
    },
    methods: {
      handleThumbsUp: function(index) {
        this.preferences[index]["dislike"] = false;
        this.preferences[index]["like"] = !this.preferences[index]["like"];
        localStorage.setItem("prefList", JSON.stringify(prefListApp.preferences));
      },
      handleThumbsDown: function(index) {
        this.preferences[index]["like"] = false;
        this.preferences[index]["dislike"] = !this.preferences[index]["dislike"];
        localStorage.setItem("prefList", JSON.stringify(prefListApp.preferences));
      },
      handleDelete: function(index) {
        this.preferences.splice(index, 1);
        localStorage.setItem("prefList", JSON.stringify(prefListApp.preferences));
      }
    }
  });

  $("#add-menu-item-btn").click(function() {
    $.get("/api/menu-item", {
      restaurant: $("input[name='menu-item-restaurant-name']").val(),
      menuItem: $("input[name='menu-item-name']").val(),
    })
      .done(function(data) {
        const isDup = prefListApp.preferences.some(
          elt => elt.restaurant === data["rest_name"] && elt.menuItem === data["name"]
        );
        if (!isDup) {
          prefListApp.preferences.push({
            restaurant: data["rest_name"],
            menuItem: data["name"],
            price: data["price"],
            like: false,
            dislike: false,
          });
        }
      })
      .fail(function() {
        alert("Invalid menu item");
      });
  });

  $("#submit-btn").click(function() {
    const restaurantName = $("input[name='restaurant-name']").val();
    const likes = prefListApp.preferences
      .filter(pref => pref.like)
      .map(pref => ({restaurant: pref.restaurant, menuItem: pref.menuItem}));
    const dislikes = prefListApp.preferences
      .filter(pref => pref.dislike)
      .map(pref => ({restaurant: pref.restaurant, menuItem: pref.menuItem}));

    const form = $("form");
    form.append(
      $("<textarea>", {"name": "preferences", "class": "d-none"})
        .val(JSON.stringify({
          "restaurant": restaurantName,
          "likes": likes,
          "dislikes": dislikes,
        }))
    );
    form.submit();
  });
</script>
{% endblock %}
